In [5]:
import mysql.connector as mariadb
import pandas as pd
import pandas.io.sql as psql
from dotenv import load_dotenv
import os
import matplotlib.pyplot as plt
from wordcloud import WordCloud

load_dotenv()

import pdb

### Connect to Database

In [2]:
db=mariadb.connect(
    host=os.getenv("DB_HOST"),
    user=os.getenv("DB_USER"),
    passwd=os.getenv("DB_PASS"),
    db=os.getenv("DB_NAME"))
query = "select title, date from {}".format(os.getenv("DB_TABLE_NAME"))
forum_titles_frame = psql.read_sql(query, con=db)
db.close()

### Data content and shape

In [3]:
forum_titles_frame.head()

                                               title       date
0  libro inglés 3 - american english file 2b (sec... 2020-06-05
1  arriendo habitación n club hípico 641 a dos cu... 2020-06-02
2  búsqueda de desarrollador market place - progr... 2020-06-05
3                     arriendo pieza metro alcántara 2020-05-31
4  respecto a estudiar al 100% en medio de una pa... 2020-06-02

In [4]:
# pdb.set_trace()
forum_titles_frame.shape

(91986, 2)

In [7]:
forum_titles_frame.index

RangeIndex(start=0, stop=91986, step=1)

### Threads count per year

In [8]:
#pdb.set_trace()
forum_titles_frame[['date']] = forum_titles_frame[['date']].apply(lambda dateFrame: dateFrame.dt.year)

In [9]:
 forum_titles_frame.groupby(['date']).count().loc[2011]

title    15503
Name: 2011, dtype: int64

In [10]:
count_titles = forum_titles_frame.groupby(['date']).count()
count_titles.index

Int64Index([2002, 2003, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
            2015, 2016, 2017, 2018, 2019, 2020],
           dtype='int64', name='date')

In [24]:
selected_years_mask = [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
#count_titles.loc[(count_titles.index > 2008) & (count_titles.index < 2020)]
count_titles.columns = ['thread_count']
count_titles.index.name = 'year'
count_titles.loc[count_titles.index * selected_years_mask > 0]

      thread_count
year
2009          9874
2010         11322
2011         15503
2012         11256
2013          8834
2014          6194
2015          6484
2016          5652
2017          5386
2018          5042
2019          4738

### Word clouds per year